/* definicao de fontes */

@font-face {
  font-family: "Unbounded";
  src: url(../fonts/Unbounded-Bold.ttf);
  format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
  format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-dark: #0e1014;
  --text-dark: #ffffff;
  --purple-highlight: #9747ff;
}

/* estilo de destop */

body {
  background-color: var(--text-dark);
  color: var(--bg-dark);
}

header img {
  display:block;
  margin: 75px 0 0 360px
}

h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 64px;
  text-align: center ;
  margin-top:40px

}
h1 span {
  color: var(--purple-highlight);
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-align: center ;
max-width: 792px;
margin: 24px auto 0 ;

}


a {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-decoration: none;
  background-color:#9747ff;
  width:340px;
  height:66px;
  display:block;
  text-align: center;
  line-height: 66px;
  border-radius: 36px;
  margin:40px auto; 
}

a:hover{
  background-color:#8233e3;
}

section img {
  display:block;
  width: 792px;
  height: 446px;
  margin:0 auto;
}

@media(max-width:768px){
  header img {
    margin: 65px 0 0 60px;
  }

  p{
    max-width: 448px;
  }
}

@media(max-width: 375px){
 header img{
  margin: 32px 0 0 16px;
 }

 h1 {
  font-size: 40px;
 }

 a{
  font-size: 20px;
  width: 251px;
 }

 p{font-size:20px;
width: 340px;}

section img{
  width: 340px;
  height: 230px;
}
}